<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Villains</title>
</head>
<body>
    <h1>Movie Villains</h1>

    <ul>

        <% for(const movieVillain of movieVillains) { %>

            <li>
                <%= movieVillain.name %>
                (from <%= movieVillain.movie %>)
            </li>

        <% } // end of for %>

    </ul>

</body>
</html>