<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Villains Index</title>
</head>
<body>
    <h1>Movie Villains Index</h1>
    <ul>
        <% for(const movieVillain of movieVillains) { %>

            <li>
                <dl>
                    <dt>ID</dt>    <dd><%= movieVillain.id %></dd>
                    <dt>Name</dt>  <dd><%= movieVillain.name %></dd>
                    <dt>Movie</dt> <dd><%= movieVillain.movie %></dd>
                </dl>
            </li>

        <% } // endfor %>
    </ul>
</body>
</html>