<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Villains (Show: <%= movieVillain.id %>)</title>
    </head>
    <body>
        <h1>
            <%= movieVillain.name %>
            <em>(<%= movieVillain.movie %>)</em>
        </h1>
        <nav>
            <a href="/movie-villains/">
                Return to Movie Villains Index
            </a>
        </nav>
    </body>
</html>