<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Villain Show</title>
    </head>
    <body>
        <h1>Movie Villain Show</h1>

        <dl>
            <dt>Villain Name</dt><dd><%= movieVillain.name %></dd>
            <dt>Villain Movie</dt><dd><%= movieVillain.movie %></dd>
        </dl>

    </body>
</html>