<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Villains Show</title>
</head>
<body>
    <h1>Movie Villains Show</h1>

    <dl>
        <dt>ID</dt>    <dd><%= movieVillain.id %></dd>
        <dt>Name</dt>  <dd><%= movieVillain.name %></dd>
        <dt>Movie</dt> <dd><%= movieVillain.movie %></dd>
    </dl>

</body>
</html>