<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= villain.villain %> (<%= villain.movie %>)</title>
</head>
<body>
    <h1><%= villain.villain %> (<%= villain.movie %>)</h1>
    <p>
        To return to the list of all villains,
        <a href="/movie-villains">click here</a>.
    </p>
</body>
</html>